# Additional ignores (specific to LHF):
*.a
*.lib
Makefile
*.cmake
CMakeCache.txt
CMakeFiles
LHF
install_manifest.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

\.vscode/
